@import '../../scss/breakpoints.scss';

.menu {
  &__theme {
    display: flex;
    gap: 12px;
    button:first-of-type {
      height: 32px;
      width: 32px;
    }
  }
  &__login {
    display: flex;
    flex-direction: column;
    gap: 40px;
    button > span {
      font-family: Cormorant, sans-serif;
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      @media (min-width: $breakpoint-tablet) {
        font-size: 60px;
        line-height: 73px;
      }
    }

  }
}
.menu__options {
  animation-delay: 2s;
  position: fixed;
  z-index: 3;
  top: 0;
  right: -100%;
  height: 100%;
  width: 252px;
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 1s;
  padding-top: 144px;
  padding-left: 47px;
  gap: 60px;
  &.active {
    right: 0;
  }
  &.dark {
    background-color: var(--primary-black);
  }

  @media (min-width: $breakpoint-tablet) {
    width: 466px;
    padding-top: 200px;
    padding-left: 94px;
  }
}

