@import '../../scss/breakpoints.scss';

.grid {
  background: none;
  padding: 80px 0;
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  @media (min-width: $breakpoint-mobile) {
      padding: 80px 20px;
  }

  @media (min-width: $breakpoint-tablet) {
    &__container {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }
  @media (min-width: $breakpoint-l-desktop) {
    padding: 100px;
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;
    }
  }
}
