@import '../../scss/breakpoints.scss';
@import '../../scss';

.artist {
  display: flex;
  flex-direction: column;
  padding: 0;
  --text-color: var(--primary-dark-gray);
  --background-color: var(--primary-white);
  --accent-color: var(--accent-red);
  --no-image-bg: var(--secondary-white);

  &.dark {
    --accent-color: var(--accent-gold);
    --background-color: var(--primary-black);
    --text-color: var(--primary-light-gray);
    --no-image-bg: var(--secondary-black);
  }

  &-nav > span {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
    span {
      display: none;
    }
  }

  &__menu {
    padding-left: 25px;
    padding-bottom: 20px;
  }

  &_NoImg {
    height: 462px;
    width: 100%;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--no-image-bg);

    & > span {
      text-align: center;
      color: var(--secondary-gray);
      opacity: 0.6;
      @include inter-16-bold;
      font-weight: 900;
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  &_NoImg_Icon {
    svg {
      width: 254px;
      height: 227px;
    }
    padding-bottom: 33px;
    svg path {
      fill: var(--primary-light-gray);
    }
    svg path:nth-child(3) {
      fill: var(--primary-dark-gray);
    }
    &.dark {
      svg path:nth-child(3) {
        fill: var(--secondary-black);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__description {
    position: relative;
    width: 100%;
    height: auto;
    font-family: Cormorant, sans-serif;
    font-weight: 500;
    background: none;
    padding: 20px 20px 0 20px;
  }

  &__years, &__location {
    @include cormorant-16-regular;
    justify-self: start;
    color: var(--primary-dark-gray);
    grid-area: Years;
  }

  &__location {
    grid-area: Location;
  }

  &_grid {
    width: max-content;
    display: none;
  }

  &__name {
    font-size: 32px;
    line-height: 100%;
    color: var(--accent-color);
    grid-area: Name;
  }

  &__labelContainer {
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &-imgWrapper {
    position: relative;
  }

  &_gridInImg {
    display: grid;
    position: absolute;
    left: 0;
    bottom: 0;
    justify-items: start;
  }
  &_grid {
    width: fit-content;
    background-color: var(--background-color);
    gap: 8px 0;
    height: fit-content;
    padding: 20px;
    grid-template-areas: "Years Years"
      "Name Name"
      "Location Location";
  }

  &__artworks {
    font-family: Cormorant, sans-serif;
    padding-left: 20px;
    padding-top: 60px;
    font-size: 32px;
    line-height: 100%;
    color: var(--accent-color);
  }
}

@media (min-width: $breakpoint-tablet) {
  .artist {
    &__info {
      padding-left: 0;
      flex-direction: column;
    }

    &-nav > span {
      span {
        display: block;
      }
    }

    &__menu {
      padding-left: 25px;
    }

    &__img {
      height: 100%;
      width: 100%;
    }
    &_NoImg {
      height: 500px;
    }

    &__description {
      position: sticky;
      top: 250px;
      background: none;
      width: 100%;
      height: auto;
      padding: 20px 20px 0 20px;
    }

    &__years, &__location {
      font-size: 16px;
    }
    &__location {
      justify-self: end;
    }
    &__name {
      position: relative;
      height: fit-content;
      font-size: 48px;
      &::before {
        content: '';
        position: absolute;
        left: -20px;
        height: 100%;
        width: 2px;
        background-color: var(--accent-color);
        justify-self: center;
      }
    }


    &_gridInImg {
      justify-items: start;
    }
    &_grid {
        gap: 12px 174px;
        height: fit-content;
        padding: 20px;
      grid-template-areas: "Years Location"
      "Name Name";
    }

    &__artworks {
      font-size: 60px;
      padding-left: 20px;
    }
  }
}

@media (min-width: $breakpoint-l-desktop) {
  .artist {
    padding-left: 100px;

    &__menu {
      padding-left: 25px;
      padding-bottom: 20px;
    }

    &__info {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &_NoImg {
      height: 1000px;
      width: 1000px;
      justify-content: center;
    }

    &__img {
      height: 1000px;
      width: 1000px;
    }

    &__description {
      width: 604px;
      height: auto;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: var(--background-color);
      padding: 80px 60px;
    }

    &_grid {
      width: 100%;
      padding: 0 0 32px 0;
      position: static;
      background: none;
      display: grid;
      gap: 32px 100px;
    }

    &_divider {
      padding-bottom: 20px;
      width: 30px;
      height: 0;
      border-top: 2px solid var(--text-color);
    }

    &__artworks {
      padding-top: 160px;
      padding-left: 80px;
    }
    &__location {
      justify-self: end;
    }

    &__name {
      font-size: 60px;
      &::before {
        left: -80px;
      }
    }
    &_gridInImg {
      display: none;
    }
  }
}