@import '../../scss/breakpoints.scss';

.wrapper {
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: var(--primary-white);
  &.dark {
    background-color: var(--primary-black);
  }
}

.container {
  width: 1280px;
}

@media (min-width: $breakpoint-l-desktop) {
  .container {
    width: 1440px;
  }
}