.button {
  width: auto;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  transition: all 0.5s;
  span {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &.outlined {
    width: 200px;
    height: 47px;
    background: var(--primary-black);
    border-radius: 30px;
    color: var(--primary-white);

    &:hover, &:focus {
      background: var(--primary-black);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
    }

    &.dark {
      background-color: var(--accent-gold);

      &:hover, &:focus {
        background: var(--accent-gold);
        box-shadow: 0 4px 10px rgba(171, 137, 86, 1);
        border-radius: 30px;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;

      &:hover {
        box-shadow: none;
      }
    }
  }


  &.underlined, &.text-btn {
    position: relative;
    color: var(--primary-dark-gray);
    text-decoration: underline;
    &:hover, &:focus {
      color: var(--primary-black);
    }
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
    &.dark {
      color: var(--primary-light-gray);

      &:hover, &:focus {
        color: var(--primary-white);
      }

      &:disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
  }

  &.text-btn {
    text-decoration: none;
  }

  &.delete, &.themeToggle, &.scrollUp {
    padding: 6px;
    border-radius: 4px;
    &:disabled {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &.scrollUp {
    background: var(--primary-white);
    height: 60px;
    width: 60px;
    border: 1px solid var(--primary-light-gray);
    border-radius: 100%;
  }
}