@import '../../scss/breakpoints';

.card {
  position: relative;
  font-family: Cormorant, sans-serif;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;

  :hover {
    scale: 1.1;
    transition: scale ease-out 0.5s;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    transition: scale 0.5s;
  }
  &__description {
    pointer-events: none;
    width: 77%;
    height: auto;
    bottom: 0;
    position: absolute;
    background-color: var(--primary-white);
    color: var(--primary-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 50%;
      width: 2px;
      background-color: var(--accent-red);
      justify-self: center;
    }

    &_title, &_name {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
    }
    &_year {
      font-family: Inter, sans-serif;
      font-weight: 700;
      font-size: 12px ;
      line-height: 15px;
      color: var(--accent-red);
    }
  }

  &__arrow {
    display: flex;
    width: 24px;
    right: -24px;
    position: absolute;
    height: 100%;
    background-color: var(--accent-red);
    justify-content: center;
    align-items: center;
    @media (min-width: $breakpoint-s-desktop) {
      display: none;
    }
  }
}

.dark {
  .card__description {
    background-color: var(--primary-black);
    color: var(--primary-light-gray);
    &_year {
      color: var(--accent-gold);
    }
    &::before {
      background-color: var(--accent-gold);
    }
  }
  .card__arrow {
    background-color: var(--accent-gold);
  }
}