@import '../../scss/breakpoints';
@import '../../scss';

.header {
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --icon-color: var(--primary-black);
  &_logo {
    svg > path {
        fill: var(--icon-color);
    }
  }
  &.dark {
    --icon-color: var(--primary-white);
  }

  &__buttons {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: all 0.5s;

    & > button:last-of-type {
      margin-left: 40px;
      width: 32px;
    }

  }

  &__button > span {
    @include cormorant-16-bold;
  }

  @media (max-width: $breakpoint-s-desktop) {
    .header__buttons > button:nth-child(-n+3) {
      display: none;
    }
    .header__buttons > div {
      display: block;
    }
  }

  @media (min-width: $breakpoint-l-desktop) {
    padding: 33px 100px;
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;
    }
  }
}
