.link {
  width: max-content;
  span {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: var(--primary-dark-gray);
    text-decoration: underline;
    svg {
      fill: var(--primary-dark-gray);
    }
    &:hover, &:hover > svg {
      color: var(--primary-black);
      fill: var(--primary-black);
    }
  }

  &.dark > span {
    color: var(--primary-light-gray);
    svg {
      fill: var(--primary-light-gray);
    }
    &:hover, &:hover > svg {
      color: var(--primary-white);
      fill: var(--primary-white);
    }
  }
}