.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  &-content {
    height: 100%;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-align: justify;
    color: var(--text-color);
    padding-bottom: 20px;
  }
  &-button > span {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &-icon {
    height: 100%;
    svg {
      box-sizing: border-box;
      margin-bottom: 3px;
    }
    &.isOpen {
      svg {
        margin-top: 3px;
        margin-bottom: 0;
        transform: rotateZ(180deg);
      }
    }
  }
}
